{% extends 'admin/base.html' %}
{% load static %}

{% block extrastyle %}{{ block.super }}
<style>
html[data-theme="light"],
html[data-theme="dark"],
:root {
  --primary: #34495e;
  --secondary: #34495e;
  --accent: #e3f0fc;
}

footer a img {
    height: 3.5em;
    margin: 1em;
    display: inline-block;
}
</style>
{% endblock %}


{% block footer %}
<footer>
    {% if user.is_authenticated %}
        <!-- Show to all users -->
        <a href="https://www.birmingham.ac.uk/index.aspx"><img src="{% static 'images/logos/logo-uob.jpg' %}" alt="Birmingham University logo"></a>
        <a href="https://www.exeter.ac.uk/"><img src="{% static 'images/logos/logo-exeter.jpg' %}" alt="Exeter University logo"></a>
        <a href="https://www.ukri.org/councils/ahrc/"><img src="{% static 'images/logos/logo-ahrc.jpg' %}" alt="AHRC logo"></a>
        <!-- Show to health strand (and admins) -->
        {% if user.role.name == 'admin' or user.participant_strand.name == 'health' %}
            <a href="https://greenlanemasjid.org/"><img src="{% static 'images/logos/logo-greenlane.jpg' %}" alt="Green Lane Masjid logo"></a>
            <a href="https://britishima.org/"><img src="{% static 'images/logos/logo-bima.jpg' %}" alt="BIMA logo"></a>
            <a href="https://www.macmillan.org.uk/"><img src="{% static 'images/logos/logo-macmillan.jpg' %}" alt="MacMillan logo"></a>
        {% endif %}
        <!-- Show to education strand (and admins) -->
        {% if user.role.name == 'admin' or user.participant_strand.name == 'education'  %}
            <a href="https://www.jcc.ac.uk/"><img src="{% static 'images/logos/logo-jc.jpg' %}" alt="Joseph Chamberlain logo"></a>
            <a href="https://narrative4.com/"><img src="{% static 'images/logos/logo-n4.jpg' %}" alt="Narrative 4 logo"></a>
        {% endif %}
    {% endif %}
</footer>
{% endblock %}